<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 4;
  padding: 6;
  overflow: hidden;
  background-color: black;
}

li {
  float: left; box-align: left ;
}

li a {
  display: block;
  color: rgba(144, 255, 255, 0.726);
  text-align: start;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(148, 0, 0);
}
</style>
</head>
<body>

<ul>
   <li><a class="active" href="index.html">HOME</a></li>
   <li><a href="keplink.html">KÉPLINK</a></li>
   <li><a href="lista.html">LISTA</a></li>
   <li><a href="tablazat.html">ÓRAREND</a></li>
</ul>

</body>
</html>

